/*
styling.css
------------
Custom CSS styling for Bayer onboarding app
*/

.content {
    padding: 1.5em;
    border-radius: 0.4em;
}

.content label {
    color: white;
}

label {
    margin-top: 0.5em;
    margin-bottom: 0;
}

/*
Inputs
------
*/

.table-inputs td:nth-child(2) {
    padding: 0;
}

.table-inputs input {
    text-align: right;
    padding: 0 1em;
    height: 3em;
    width: 100%;
    border: 0;
}

/*
Headings
*/

h1, h2, h3, h4 {
    color: white;
}

/*
Background color classes
-------
*/

.bg-blue {
    background: #0071bc;
}

.bg-orange {
    background: #f7931e;
}

.bg-dark-blue {
    background: #005ebc;
    color: white;
}

.bg-dark-orange {
    background: #f77e1e;
    color: white;
}